.centerContainer
{
    position: fixed;
    justify-content: center;
    align-items: center;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    
}

.centerRow
{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.rectangle
{
    width: 80px;
    height: 80px;
    background-color: rgba(255,204,0,0.1);

    margin: 5px;
    border: 0px solid rgba(255,204,0,1);
    border-collapse: collapse;
    border-radius: 10px;
    
    justify-content: center;
    align-items: center;
    
    display: flex;

    color:white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button_square
{
    width: 80px;
    height: 80px;
    background-color: rgba(255,204,0,0.1);

    text-align: center;

    margin: 5px;
    border: 5px solid transparent;
    border-collapse: collapse;
    border-radius: 10px;
    
    justify-content: center;
    align-items: center;
    
    display: flex;

    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;

    z-index: 1024;
}

.button_long
{
    height: 32px;
    background-color: rgba(255,204,0,1);

    text-align: center;

    margin: 5px;
    padding-left:5px;
    padding-right:5px;
    border: 5px solid transparent;
    border-collapse: collapse;
    border-radius: 32px;
    
    justify-content: center;
    align-items: center;
    
    display: flex;

    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;

    z-index: 1024;
}

.bar
{
    width : 40px;
    height : 200px;
    background-color: #ffcc00;

    margin: 5px;
    border: 0px solid transparent;
    border-collapse: collapse;
    border-radius: 10px;
}

.blank
{
    width: 60px;
    height: 60px;

    margin: 10px;
}

.settingsBox
{
    height:850px;
    max-width:800px;
    overflow: hidden;
    white-space: nowrap;

    border-radius: 16px;
    padding: 50px;
    margin:8px;
    
    font-size: 16px;
    text-align: left;

    color:white;
    background-color: rgba(192,192,192,0.1);

    transition: max-width 1s ease, padding 1s ease, opacity 1s ease,background-color 1s ease; /* smooth animation */
}

.collapseBox {
    color:white;
    max-width: 0px;
    height:850px;
    border-radius: 16px;
    overflow: hidden;
    white-space: nowrap; 
    padding: 0px;
    margin:8px;
    background-color: rgba(192,192,192,0.0);
    transition: max-width 1s ease, padding 1s ease, opacity 1s ease,background-color 1s ease; /* smooth animation */
}

input {
    padding: 4px;
    margin:5px;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 5px;
    width: 50px;
    background-color: rgba(96,96,96,0);
    color:#666;
}

textarea
{
    width:150px;
    height:64px;
    
    background-color: transparent;
    color:#666;
    
    font-size:16px;
    margin:4px
}

select {
    padding: 4px;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color:rgba(96,96,96,0);
    width: 50px;
    color:#666
}